<h3>New Cocktail:</h3>
<form>
  <label>Name: {{input value=model.name}} </label>
  <label>Description: {{input value=model.description}} </label>
  <button class="button" {{action 'addCocktail' model}}>Add</button>
</form>
